/* * {
  border: 1px solid red;
} */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: white;
}

body {
  font-family: 'Shadows Into Light Two', cursive;
}

main {
  display: grid;
  grid-template-columns: 0.6fr 2fr 0.6fr;
  height: 100vh;
}

.left-bar {
  border: 1px solid black;
}

.right-bar {
  border: 1px solid black;
}

.spotlight-div {
  border-bottom: 1px solid black;
  padding: 5px;
}

.stats-div {
  padding: 5px;
}

.current-div {
  border-bottom: 1px solid black;
  padding: 5px;
}

.nearest-station {
  border-bottom: 1px solid black;
  padding: 5px;
}

.nearest-header {
  padding: 5px;
}

#map {
  height: 100%;
}

.bp-color {
  background-color: #90ef90;
}

.caltex-color {
  background-color: #ff0000;
}

.seven-eleven-color {
  background-color: #ffa502;
}

.shell-color {
  background-color: #ffff02;
}

.default-color {
  background-color: #0084ff;
}